.login-page {
  height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("./lostandfound2.jpg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  background: rgba(255,255,255,0.95);
  padding: 3rem;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  animation: slideDown 0.8s ease;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ff6f61;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  padding: 12px;
  border-radius: 25px;
  border: 2px solid #ff6f61;
  font-size: 1rem;
  outline: none;
}

.login-input:focus {
  border-color: #e64a4a;
}

.login-btn {
  background: #ff6f61;
  color: white;
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e64a4a;
  transform: scale(1.05);
}

.error-text {
  color: red;
  text-align: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
